/* Vertically align elements to the center of the parent element */
/* Absolute positioning parameters */
/* Transform prefixes */
/* Transition prefixes */
/* Max-width commonly used parameters used to centrally align a containing element */
/* line 294, /sass/globals/_mixins.scss */

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
}

/* line 300, /sass/globals/_mixins.scss */

.clearfix:after {
  clear: both;
  visibility: hidden;
}

@media (min-width: 600px) {
  /* line 314, /sass/globals/_mixins.scss */
  
  .chevron:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 50%;
    left: -30px;
    display: block;
    top: 619px;
  }
}

@media (min-width: 1900px) {
  /* line 327, /sass/globals/_mixins.scss */
  
  .chevron:before {
    top: 759px;
  }
}

@media (min-width: 600px) {
  /* line 335, /sass/globals/_mixins.scss */
  
  .chevron-mpu:before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 50%;
    left: -30px;
    display: block;
    top: 495px;
  }
}

@media (min-width: 1900px) {
  /* line 348, /sass/globals/_mixins.scss */
  
  .chevron-mpu:before {
    top: 600px;
  }
}

/* line 386, /sass/globals/_mixins.scss */
.button-primary {
  border: 1px solid #00558c !important;
  background-color: #00558c !important;
  padding: 25px 20px !important;
  color: white !important;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Helvetica";
  font-weight: 600;
  display: inline-block;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-appearance: none;
  text-align: center;
  min-width: 180px !important;
}

@media (max-width: 800px) {
  /* line 386, /sass/globals/_mixins.scss */
  .button-primary {
    padding: 25px 10px !important;
  }
}

/* line 153, /sass/globals/_mixins.scss */
.button-primary:hover {
  border: 1px solid #8A979B !important;
  background-color: #8A979B !important;
  color: white !important;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

/* line 390, /sass/globals/_mixins.scss */
.button-orange {
  border: 1px solid #00558c !important;
  background-color: #00558c !important;
  padding: 25px 20px !important;
  color: white !important;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Helvetica";
  font-weight: 600;
  display: inline-block;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-appearance: none;
  text-align: center;
  min-width: 180px !important;
}

@media (max-width: 800px) {
  /* line 390, /sass/globals/_mixins.scss */
  .button-orange {
    padding: 25px 10px !important;
  }
}

/* line 153, /sass/globals/_mixins.scss */
.button-orange:hover {
  border: 1px solid #8A979B !important;
  background-color: #8A979B !important;
  color: white !important;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

/* line 393, /sass/globals/_mixins.scss */
.button-red {
  border: 1px solid #00558c !important;
  background-color: #00558c !important;
  padding: 25px 20px !important;
  color: white !important;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Helvetica";
  font-weight: 600;
  display: inline-block;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-appearance: none;
  text-align: center;
  min-width: 180px !important;
}

@media (max-width: 800px) {
  /* line 393, /sass/globals/_mixins.scss */
  .button-red {
    padding: 25px 10px !important;
  }
}

/* line 153, /sass/globals/_mixins.scss */
.button-red:hover {
  border: 1px solid #8A979B !important;
  background-color: #8A979B !important;
  color: white !important;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

/* line 396, /sass/globals/_mixins.scss */
.button-light-to-primary {
  border: 1px solid #00AFD7 !important;
  background-color: #00AFD7 !important;
  padding: 25px 20px !important;
  color: white !important;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Helvetica";
  font-weight: 600;
  display: inline-block;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-appearance: none;
  text-align: center;
  min-width: 180px !important;
}

@media (max-width: 800px) {
  /* line 396, /sass/globals/_mixins.scss */
  .button-light-to-primary {
    padding: 25px 10px !important;
  }
}

/* line 153, /sass/globals/_mixins.scss */
.button-light-to-primary:hover {
  border: 1px solid #00558c !important;
  background-color: #00558c !important;
  color: white !important;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

/* line 399, /sass/globals/_mixins.scss */
.button-light {
  border: 1px solid #00AFD7 !important;
  background-color: #00AFD7 !important;
  padding: 22px 20px !important;
  color: white !important;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Helvetica";
  font-weight: 600;
  display: inline-block;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-appearance: none;
  text-align: center;
  min-width: 180px !important;
}

@media (max-width: 800px) {
  /* line 399, /sass/globals/_mixins.scss */
  .button-light {
    padding: 22px 10px !important;
  }
}

/* line 153, /sass/globals/_mixins.scss */
.button-light:hover {
  border: 1px solid #8A979B !important;
  background-color: #8A979B !important;
  color: white !important;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

/* line 402, /sass/globals/_mixins.scss */
.button-primary-small {
  border: 1px solid #00558c !important;
  background-color: #00558c !important;
  padding: 10px 22px !important;
  color: white !important;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Helvetica";
  font-weight: 600;
  display: inline-block;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-appearance: none;
  text-align: center;
  min-width: 180px !important;
}

@media (max-width: 800px) {
  /* line 402, /sass/globals/_mixins.scss */
  .button-primary-small {
    padding: 10px 11px !important;
  }
}

/* line 153, /sass/globals/_mixins.scss */
.button-primary-small:hover {
  border: 1px solid #8A979B !important;
  background-color: #8A979B !important;
  color: white !important;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

/* line 405, /sass/globals/_mixins.scss */
.button-light-small {
  border: 1px solid #00AFD7 !important;
  background-color: #00AFD7 !important;
  padding: 10px 22px !important;
  color: white !important;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Helvetica";
  font-weight: 600;
  display: inline-block;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-appearance: none;
  text-align: center;
  min-width: 180px !important;
}

@media (max-width: 800px) {
  /* line 405, /sass/globals/_mixins.scss */
  .button-light-small {
    padding: 10px 11px !important;
  }
}

/* line 153, /sass/globals/_mixins.scss */
.button-light-small:hover {
  border: 1px solid #8A979B !important;
  background-color: #8A979B !important;
  color: white !important;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

/* line 408, /sass/globals/_mixins.scss */
.button-white {
  border: 1px solid white !important;
  background-color: white !important;
  padding: 20px 45px !important;
  color: #00AFD7 !important;
  text-decoration: none;
  font-size: 1rem;
  font-family: "Helvetica";
  font-weight: 600;
  display: inline-block;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
  border-radius: 5px;
  background-clip: padding-box;
  -webkit-appearance: none;
  text-align: center;
  min-width: 180px !important;
}

@media (max-width: 800px) {
  /* line 408, /sass/globals/_mixins.scss */
  .button-white {
    padding: 20px 22.5px !important;
  }
}

/* line 153, /sass/globals/_mixins.scss */
.button-white:hover {
  border: 1px solid #8A979B !important;
  background-color: #8A979B !important;
  color: white !important;
  -o-transition: all, 0.5s;
  -webkit-transition: all, 0.5s;
  transition: all, 0.5s;
}

/* line 411, /sass/globals/_mixins.scss */
.button-link {
  cursor: pointer;
  color: #00AFD7;
  text-decoration: underline;
  font-weight: 600;
  padding: 0 0 3px 0;
  border-bottom: 1px solid #00AFD7;
  width: auto;
  display: inline-block;
  text-decoration: none;
}

/* line 421, /sass/globals/_mixins.scss */
.button-link:hover {
  color: #00558c;
  border-bottom: 1px solid #00558c;
}

/* line 63, /sass/globals/_loops.scss */
.col-1 {
  width: 99%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  float: none;
}

@media (max-width: 800px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-1 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-1:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-1:last-child {
    padding-right: 0;
  }
}

/* line 63, /sass/globals/_loops.scss */
.col-2 {
  width: 49%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  padding-left: 40px;
  padding-right: 40px;
}

@media (max-width: 800px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-2 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-2:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-2:last-child {
    padding-right: 0;
  }
}

/* line 63, /sass/globals/_loops.scss */
.col-3 {
  width: 32.33333%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 800px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-3 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-3 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-3:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-3:last-child {
    padding-right: 0;
  }
}

/* line 63, /sass/globals/_loops.scss */
.col-4 {
  width: 24%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 800px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-4 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-4 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-4:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-4:last-child {
    padding-right: 0;
  }
}

/* line 63, /sass/globals/_loops.scss */
.col-5 {
  width: 19%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-5 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-5 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-5:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-5:last-child {
    padding-right: 0;
  }
}

/* line 63, /sass/globals/_loops.scss */
.col-6 {
  width: 15.66667%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-6 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-6 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-6:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-6:last-child {
    padding-right: 0;
  }
}

/* line 63, /sass/globals/_loops.scss */
.col-7 {
  width: 13.28571%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-7 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-7 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-7:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-7:last-child {
    padding-right: 0;
  }
}

/* line 63, /sass/globals/_loops.scss */
.col-8 {
  width: 11.5%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-8 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-8 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-8:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-8:last-child {
    padding-right: 0;
  }
}

/* line 63, /sass/globals/_loops.scss */
.col-9 {
  width: 10.11111%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-9 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-9 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-9:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-9:last-child {
    padding-right: 0;
  }
}

/* line 63, /sass/globals/_loops.scss */
.col-10 {
  width: 9%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-10 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-10 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-10:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-10:last-child {
    padding-right: 0;
  }
}

/* line 63, /sass/globals/_loops.scss */
.col-11 {
  width: 8.09091%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-11 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-11 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-11:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-11:last-child {
    padding-right: 0;
  }
}

/* line 63, /sass/globals/_loops.scss */
.col-12 {
  width: 7.33333%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  padding-left: 10px;
  padding-right: 10px;
}

@media (max-width: 800px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-12 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 63, /sass/globals/_loops.scss */
  .col-12 {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-12:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-12:last-child {
    padding-right: 0;
  }
}

/* line 88, /sass/globals/_loops.scss */
.col-3wideleft {
  width: 32.33333%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  color: inherit;
  height: inherit;
  padding-left: 30px;
  padding-right: 30px;
  width: 66%;
  margin-left: 0;
  text-align: left;
}

@media (max-width: 800px) {
  /* line 88, /sass/globals/_loops.scss */
  .col-3wideleft {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: block;
    padding: 0;
    text-align: center;
    float: none;
    clear: both;
  }
}

@media (min-width: 800px) and (max-width: 1200px) {
  /* line 88, /sass/globals/_loops.scss */
  .col-3wideleft {
    padding-left: 10px;
  }
}

@media (min-width: 1200px) {
  /* line 31, /sass/globals/_loops.scss */
  .col-3wideleft:first-child {
    padding-left: 0;
  }
  /* line 34, /sass/globals/_loops.scss */
  .col-3wideleft:last-child {
    padding-right: 0;
  }
}

@media (max-width: 1200px) {
  /* line 88, /sass/globals/_loops.scss */
  .col-3wideleft {
    padding-left: 10px;
  }
}

@media (max-width: 799px) {
  /* line 88, /sass/globals/_loops.scss */
  .col-3wideleft {
    width: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  /* line 82, /sass/globals/_loops.scss */
  .col-3wideleft p.subtitle {
    text-align: center !important;
  }
}

/* line 105, /sass/globals/_loops.scss */
.col-3wide {
  width: 66%;
  margin-left: 33.333%;
}

@media (max-width: 799px) {
  /* line 105, /sass/globals/_loops.scss */
  .col-3wide {
    width: 100%;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
}

/* line 126, /sass/globals/_fonts.scss */
.font-mpu-header, .mpu-header {
  font-size: 2.5rem;
  line-height: 3.375rem;
  color: black;
  font-weight: 300;
}

/* line 11, /sass/globals/_fonts.scss */
.font-mpu-header else, .mpu-header else {
  color: #fff;
}

@media (max-width: 800px) {
  /* line 126, /sass/globals/_fonts.scss */
  .font-mpu-header, .mpu-header {
    font-size: 2rem;
    line-height: 2.25rem;
    text-align: center;
  }
}

/* line 129, /sass/globals/_fonts.scss */
.font-mpu-subtitle, .mpu-subtitle {
  font-size: 1.5rem;
  line-height: 2.25rem;
  color: black;
}

/* line 27, /sass/globals/_fonts.scss */
.font-mpu-subtitle else, .mpu-subtitle else {
  color: #fff;
}

/* line 133, /sass/globals/_fonts.scss */
.font-page-section-header, .page-section-header, .section-header {
  font-size: 1.875rem;
  line-height: 2.5rem;
  font-weight: 400;
  color: #132E56;
}

/* line 136, /sass/globals/_fonts.scss */
.font-body-subtitle, .subtitle {
  font-size: 1.3125rem;
  line-height: 1.875rem;
  color: #3D4042;
  text-align: center;
}

/* line 139, /sass/globals/_fonts.scss */
.font-body, .body {
  font-size: 1rem;
  line-height: 1.5rem;
  color: #3D4042;
}

/* line 142, /sass/globals/_fonts.scss */
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.125rem;
  color: #212324;
}

/* line 145, /sass/globals/_fonts.scss */
h4 {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #3D4042;
}

/* line 148, /sass/globals/_fonts.scss */
h5 {
  font-size: 2.75rem;
  line-height: 3rem;
  font-weight: 400;
  color: #3D4042;
  margin-bottom: 1rem;
  color: black;
}

/* line 69, /sass/globals/_fonts.scss */
h5 else {
  color: #fff;
}

/* line 151, /sass/globals/_fonts.scss */
.font-body-4, .body-4 {
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: #8A979B;
}

/* line 154, /sass/globals/_fonts.scss */
.font-body-4-text, .body-4-text {
  font-size: 0.875rem;
  line-height: 1.75rem;
  font-weight: 700;
  color: black;
}

/* line 84, /sass/globals/_fonts.scss */
.font-body-4-text else, .body-4-text else {
  color: #fff;
}

/* line 157, /sass/globals/_fonts.scss */
.font-menu, .menu {
  font-size: 1rem;
  font-weight: 700;
}

/* line 160, /sass/globals/_fonts.scss */
.font-button-box, .button-box {
  font-size: 1rem;
  font-weight: 700;
  color: black;
}

/* line 97, /sass/globals/_fonts.scss */
.font-button-box else, .button-box else {
  color: #fff;
}

/* line 163, /sass/globals/_fonts.scss */
.font-button-text, .button-text {
  font-size: 1rem;
  font-weight: 700;
  color: #00AFD7;
}

/* line 166, /sass/globals/_fonts.scss */
.font-form-field, .form-field {
  font-size: 1rem;
  color: #9DACB2;
}

/* line 169, /sass/globals/_fonts.scss */
.font-quote, .quote {
  font-size: 1.875rem;
  font-style: italic;
  line-height: 2.25rem;
  font-weight: 100;
  text-align: center !important;
}

/* line 172, /sass/globals/_fonts.scss */
.font-quote-by, .quote-by {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  text-align: center !important;
}

/* line 8, /sass/editor.en.scss */
.row {
  border: 1px dotted pink;
}

/* line 294, /sass/globals/_mixins.scss */
.row:before, .row:after {
  content: "";
  display: block;
}

/* line 300, /sass/globals/_mixins.scss */
.row:after {
  clear: both;
  visibility: hidden;
}
