$isEditor:1;
$lang:'en-gb';
@import "globals/lang-en-gb";
@import "globals/variables";
@import "globals/mixins";
@import "globals/loops";
@import "globals/fonts";
.row{
	@include clearfix;
	border:1px dotted pink;
}
